<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344354640113-gorutqcc23t7c43alhee7bgrnrskeei9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344354640113-gorutqcc23t7c43alhee7bgrnrskeei9</string>
	<key>API_KEY</key>
	<string>AIzaSyB4lPIi0e0V5yYGtzwvQb13BVaWWkip9lY</string>
	<key>GCM_SENDER_ID</key>
	<string>344354640113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arriveuser.com</string>
	<key>PROJECT_ID</key>
	<string>arriveuser-2e626</string>
	<key>STORAGE_BUCKET</key>
	<string>arriveuser-2e626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344354640113:ios:f2c2c8d9cd8e4d20389950</string>
	<key>DATABASE_URL</key>
	<string>https://arriveuser-2e626.firebaseio.com</string>
</dict>
</plist>